.bloodcamps {
	width: 80%;
	height: 100%;
	margin: 20px auto;
	padding: 5px 5px;
	/* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1); */
}

.campCard {
	width: 80%;
	border: none;
	border-radius: 5px;
	margin: 25px auto;
	padding: 15px;
	display: flex;
	justify-content: space-evenly;
	/* border:1px solid black; */
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	/* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
}
.campCard:hover {
	border:none;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.inter {
	margin: auto auto;
	padding: 5px;
}

.interestedbtn {
	width: 150%;
	padding: 15px;
	background-color: #4bb543;
	color: white;
	font-size: 20px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	/* box-shadow: #4bb543; */
	/* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
	border: none;
	border-radius: 5px;
}

.interestedbtn:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.data {
	text-align: justify;
	width: 50%;
}

.selectdata {
	width: 100px;
	height: 50px;
	margin: 10px;
	padding: 10px;
	color: green;
	border-radius: 50px;
	border: 3px solid green;
	cursor: pointer;
}

.selected {
	background-color: green;
	color: white;
}
.notselected {
	background-color: white;
	color: green;
}

.selectdata:hover {
    background-color: green;
	color: white;
	transform: scale(1.05);
}

.search{

}

.input{

}

.cat{
	/* width:100%; */
}