.inputBox,
.locationdropdown {
    width: 35%;
    height: 40px;
    margin: 10px auto;
}


.submitbtn {
    width: 120px;
    height: 35px;
    background-color: green;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;

}