.table-responsive {
  margin-top: 25px;
  padding: 15px;
}

.table {
  border: 1px solid #eee;
  border-radius: 25%;
}

th {
  background-color: #dc143c;
  text-align: center;
  vertical-align: middle;
}

.table-row {
  width: 100%;
}

.inputBox,
.locationdropdown ,.submitbtn{
    padding: 10px 50px;
    margin: 20px 20px;
    border-radius: 5px;
    width: min-content;
}


.submitbtn {
    
    color: white;
    
    cursor: pointer;
    border-radius: 5px;

}

.searchFilter {
  border-radius: 5px;
  border: 1px solid #eee;
  text-align: center;
  justify-content: center;
}