.signUpform{
    width: 80%;
    margin: 100px auto;
}

.catigoresdropdown{
    width: 25%;
    height: 30px;
    padding: 0 0;
    margin: 15px auto;
    outline: none;
    cursor: pointer;
}

.inputBox,
.locationdropdown {
    width: 35%;
    height: 40px;
    margin: 10px auto;
}


.submitbtn{
    width : 120px;
    height: 35px;
    background-color: green;
    color:white;
    outline: none;
    border:none;
    cursor: pointer;
    border-radius: 10px;

}

@media (max-width: 740px){
    .inputBox,
    .locationdropdown {
        width: 100%;
        height: 40px;
        margin: 10px auto;
    }
    .catigoresdropdown{
        width: 75%;
        height: 30px;
        padding: 4px 0;
        margin: 15px auto;
    }

}
