.App {
    text-align: center;

}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/*Navigation Bar*/
.nav {
    margin: 0 auto;
}


.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 3% 15%;
}

.nav-item {
    padding: 0 15px;
}

.nav-link {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: blue;
}

#header {
    width: 100%;
    background: #DC143C;
    padding: 10px 0;
    /*z-index: 3;*/
    top: 0;
}

#footer {
    bottom: 0;
    height: auto;
}


/*Title Section*/
/*Headings*/
.big-heading {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.colored-section {
    background-color: #DC143C;
    color: #fff;
    padding-bottom: 50px;
}


.container-fluid {
    padding: 7% 15%;
}

/*Title Section*/
#title .container-fluid {
    /*text-align: left;*/
    padding: 3% 15% 7%;

}

.landing-nearby-div {
    justify-content: center;
    position: absolute;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: #000;
    display: flex;
    flex-direction: row;
    width: 60%;
    padding-left: 15%;
    margin: 0 auto;
}

.landing-nearby-div .form {
    text-align: center;

    padding: 5%;

}

.nearby-city-bank-form input {
    margin: 5%;
}

/*Footer*/
#footer {
    bottom: 0;
    width: 100%;
    padding-top: 40px;
}

.footer-quick-links {
    margin-left: 15px;
}

.social-icon {
    margin: 20px 10px;
}

.white-section {
    padding-top: 15px;
    padding-bottom: 15px;
    background: white;
}