.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/*Navigation Bar*/
.navbar {
    padding: 0 0 4.5rem;
}

#navbar-brand-logo {
    width: 40px;
}

.navbar-brand {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 3% 15% 7%;
}

.nav-item {
    padding: 0 15px;
}

.navbar-bg-custom {
    background-color: #DC143C;
}

.navbar-sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-link {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

#mobile-nav {
    padding-right: 25px;
}

/*Title Section*/
/*Headings*/
.big-heading {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.colored-section {
    background-color: #DC143C;
    color: #fff;
}

/*Title Section*/
#title .container-fluid {
    text-align: left;
    padding: 3% 15% 7%;
}

.container-search-bank-form {
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: #000;
}

/*Footer*/
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-quick-links {
    margin-left: 15px;
}

.social-icon {
    margin: 20px 10px;
}